// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home-page-container {
  margin: auto;
  width: 100%;

  .home-page-top-section {
    padding-bottom: 80px;
    border-bottom: 1px solid #EBEDED;
  }

  .home-page-middle-section {
    background: #8CC3FF;
    height: 150px;
    margin-top: 50px;

    p {
      padding: 30px 0 5px 0;
    }

    .image-container {
      padding: 10px 150px;
    }
  }

  .home-page-most-section {
    padding: 0px 130px;

    .sub-section {
      padding: 1.5em 2em 0;
      box-shadow: 10px 10px 50px #eee;

      h4 {
        margin-bottom: 1em;
      }
    }


    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      padding: 1em;
      border-bottom: 1px solid #eee;
    }

    a {
      text-decoration: none;
      color: black;
    }

    li:hover {
      background-color: #ddd;
    }
  }

  .home-page-bottom-section {
    padding: 0px 150px;

    .sub-section {
      padding: 60px;
    }
  }

  .left-div {
    .left-container {
    	padding: 4% 0 0 25%;
    }

    .url-holder {
      font-size: 14px;
      line-height: 16px;

      input#url {
        margin-right: 7px;
        width: 100%;
      }
      
      button {
        padding: 15px 19px;
        white-space: nowrap;
      }

      .row {
        padding-bottom: 10px;
      }

      input#custom-url {
        width: 100%;
      }

      .flex-row-container {
        display: flex;
        flex-flow: row nowrap;
        width: 90%;
        line-height: 40px;
        justify-content: space-between;
        padding: 0px;
        padding-bottom: 10px;
      }

      .fadeOut {
        opacity: 0;
        transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

      }

      .fadeIn {
        opacity: 1;
        transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
      }
    }

    h1 {
      width: 230px;
    }

    p {
      color: #909AB0;
      width: 330px;
      margin-bottom: 60px;
    }
  }

  .right-div {
    background-image: url('undraw_share_link.svg');
    background-repeat: no-repeat;
    height: 340px;
    margin-top: 40px;
  }

  .link-logo {
    background-image: url('linkShorten.svg');
    background-position: 23% 81%;
  }

  .track-logo {
    background-image: url('graph.svg');
    background-position: 53% 60%;
  }

  .people-logo {
    background-image: url('Group.svg');
    background-position: center;
  }

  .logo {
    background-repeat: no-repeat;
    background-color: #CCD2E0;
    width: 70px;
    height: 70px;
    border-radius: 36px;
  }

  .sub-section {
    p {
      color: #909AB0;
    }

    h3 {
      text-align: left;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      padding: 15px;
    }
  }

  .shorten, .track, .learn {
    padding: 0px 120px 30px 35px;
  }

  button {
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: #0760C4;
    color: #fff;
    border: none;
  }

  input {
    padding: 5px 10px;
    border: 1px solid #ADAEAE;
    box-sizing: border-box;
  }

  .home-page-my-link-section {
    padding: 80px 130px;

    .my-link-table {
      thead {
        border-bottom: 1px solid #EBEDED;
      }

      th {
        color: #7A7E87;
        padding: 25px;
        vertical-align: bottom;
        border-bottom: 1px solid #EBEDED;
        padding-left: 0px;
      }

      td {
        vertical-align: middle;
        padding: 15px 25px;
        padding-left: 0px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }

      th,
      td {
        text-align: left;
      }

      .action-btn {
        background: none !important;
        border: none;
        padding: 5px !important;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        color: #808080;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
